/* Rubik font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: white;
  color: #000;
}

.gradient-text {
  background-image: linear-gradient(
    315deg,
    var(--token-0245ad54-dffa-4280-9b49-9d43ad68acaa, rgb(102, 0, 255)) 0%,
    var(--token-0c4c4e00-f4fc-4e6a-9a97-509a95a3e5d4, rgb(255, 0, 102)) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-box {
  background-image: linear-gradient(
    315deg,
    var(--token-0245ad54-dffa-4280-9b49-9d43ad68acaa, rgb(102, 0, 255)) 0%,
    var(--token-0c4c4e00-f4fc-4e6a-9a97-509a95a3e5d4, rgb(255, 0, 102)) 100%
  );
}
